﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SUPER ZAPATOS</h1>
    <p class="lead">En la empresa "Super Zapatos" ocupan realizar una aplicación web para llevar el control de inventario 
    del calzado disponible en su zapatería. Dada esta necesidad, los expertos de tecnología de la empresa consideraron que
     la mejor opción sería hacer una aplicación ASP.Net utilizando MVC.</p>
    <p><a class="btn btn-primary btn-lg">@Html.ActionLink("Stores", "Index", "Stores")</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting Stores</h2>
        <p>
            All Stores in Super Zapatos.
        </p>
        <p>@Html.ActionLink("Stores", "Index", "Stores")</p>
    </div>
    <div class="col-md-4">
        <h2>Getting Articles</h2>
        <p>All Articles in Super Zapatos</p>
        <p>@Html.ActionLink("Articles", "Index", "Articles")</p>
    </div>
    <div class="col-md-4">
        <h2>Start Again</h2>        
        <p>@Html.ActionLink("Inicio", "Index", "Home")</p>
    </div>
</div>