﻿@model ServiceSuperZapatos.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_in_shelf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_in_shelf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_in_vault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_in_vault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stored_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stored_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
